body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    perspective: 800px;
}

.hex-grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 0px;
    position: relative;
    grid-auto-rows: 44px;
}

.hex {
    width: 100px;
    height: 58px;
    background: linear-gradient(145deg, #db7734, #2980b9);
    position: relative;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(57, 9, 46);
    font-weight: bold;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform 0.3s ease-in-out;
}

.row-offset {
    margin-left: 50px;
}

.hex:nth-child(odd):hover {
    animation: popOut 0.3s ease-in-out forwards;
}

.hex:nth-child(even):hover {
    animation: popIn 0.3s ease-in-out forwards;
}

@keyframes popOut {

    50% {
        transform: translateY(-10px) scale(1.1);
    }

    100% {
        transform: translateY(-5px) scale(1.05);
    }
}

@keyframes popIn {
    50% {
        transform: translateY(10px) scale(0.9);
    }

    100% {
        transform: translateY(5px) scale(0.95);
    }
}