img {
    transform: scale(3, 1);
}

h1 {
    color: blue;
    transform: skewX(30deg);
    width: 20px;
    transition: width 1s, transform 1s;
    animation: move 2s;
    text-shadow: 2px 2px 4px #ff00dd;
    box-shadow: 4px 6px 6px -2px #aaaaff;
}


h1:hover {
    width: 100px;
    transform: rotate(90deg);
    animation: move 2s;
}

@keyframes move {
    0% {
        left: 100px;
    }

    40% {
        left: 130px;
    }

    100% {
        left: 150px;
    }
}